#---infar----#
API_HOST="0.0.0.0"
API_PORT="3000"
DATABASE_URL="postgres://myuser:mypass@postgres:5432/mydb"
REDIS_URL="redis://redis:6379"
#---rust log---#
LOG_FORMAT="default"
RUST_LOG="info"
#---security----#
JWT_KID="dev-ed25519"
JWT_PRIVATE_PATH="security/keys/dev_ed25519_private.pem"
JWT_PUBLIC_PATH="security/keys/dev_ed25519_public.pem"
HMAC_SHA256_KEY_PATH="security/keys/dev_base64_key.text"
#---livetime---#
ACSECC_TOKEN_TTL=900     #15min
REFRESH_TOKEN_TTL=360000 #100hr
SESSION_TTL=360000       #100hr
